<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Alici</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">Mensagens armazenadas</div>
        <div>
            {% for message in messages %}
                <div class="message">
                    <strong>{{ message.sender }}:</strong> {{ message.content }} <br><small>{{ message.timestamp }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
